*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgba(228, 140, 168, 0.818);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-form{
    width: 450px;
    padding: 30px 30px;
    border-radius: 5px;
    background-color: #cde0f0;
    box-shadow: 1px 1px 2px  #333;
}
h1{
    font-size: 30px;
    margin-bottom: 5px;
}
p{
    font-size: 14px;
    opacity: 5;
}
.form_group{
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.form_group input{
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
    border: none;
    outline: none;
    border: 1px solid #333;
    border-radius: 50px;
}
.form_group label{
    font-size: 18px;
    opacity: .8;
}
.form_button{
    width: 100%;
    margin-top: 50px;
}
.form_button button{
    width: 100%;
    padding: 10px 0;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(48, 117, 246);
    color: #ffff;
}

.icon{
    position: absolute;
    top: 30px;
    right: 15px;
    visibility: hidden;
}
.eye{
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer; 
}
.eye.hide{
    display: none;
}
